<h2 class="mb-4 h1-title">To-do List</h2>


<div class= "d-flex justify-content-between">
  <%= link_to "New Task", new_task_path, class: "btn green-button mb-3" %>
</div>

<div class="display-tasks">
  <ol class= "list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">

        <div class="ddd">
          <input type="checkbox" class="form-check-input me-2">
          <span class="task-name"><%= task.name %></span>
        </div>

        <div>
          <span class="task-date"><%= task.due_date.strftime("%d-%b") %></span>
          <%= link_to "Edit", edit_task_path(task), class: "btn green-button task-edit" %>
          <%= link_to "Del", task, data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' }, class: "btn red-button task-delete" %>
        </div>

      </li>
    <% end %>
  </ol>
</div>
