<h2 class="mb-4">Add a New Task</h2>
<%= form_with model: @task, method: :post, url: tasks_path do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, maxlength: 21, class: "form-control", placeholder: "Enter task name" %> 
  </div>
  <div class="mb-3">
    <%= form.label :due_date, class: "form-label" %>
    <%= form.date_field :due_date, value: Date.today, class: "form-control" %>
  </div>
  <%= form.submit "Create Task", class: "btn btn-primary" %>
<% end %>
