<%= form_with url: imdb_filter_path, method: :post, remote: true, html: { class: 'form-inline' } do |form| %>
  <div class="form-group mb-2">
    <%= form.collection_select :list_id, @lists, :id, :name, { prompt: "Select list" }, { class: "form-control" } %>
  </div>

  <div class="form-group mb-2">
    <%= form.select :media, options_for_select(["Movie", "TV Series"], selected: params[:media]), {}, class: 'form-control' %>
  </div>

  <div class="form-group mb-2 row">
    <div class= "col">
      <%= form.number_field :min_imdb_rating, step: 0.1, min: 0, max: 10, value: params[:min_imdb_rating], placeholder: 'Min Rating', class: 'form-control' %>
    </div>
    <div class= "col">
      <%= form.number_field :max_imdb_rating, step: 0.1, min: 0, max: 10, value: params[:max_imdb_rating], placeholder: 'Max Rating', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group mb-2">
    <%= form.text_field :genre, value: params[:genre], placeholder: 'Genre', class: 'form-control' %>
  </div>

  <div class="form-group mb-2">
    <%= form.submit "Filter", class: 'btn btn-primary' %>
    <% if @list.present? %>
      <%= link_to "Delete", list_path(@list), method: :delete,  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-flat-secondary-danger" %>
    <% end %>
  </div>

<% end %>
