<div class="container mt-4">
  <h5 class="mb-4">Import IMDb Watchlist</h5>

  <%= form_with url: imdb_import_path, local: false, html: {multipart: true}, remote: true, class: 'form' do |form| %>
    <div class="form-group mb-3">
      <%= form.label :title, "List Name", class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :file, "Select File", class: 'form-label' %>
      <%= form.file_field :file, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.submit "Upload file", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
