<div id="movies_list">
  <% if movies.any? %>
    <p><%= movies.count %> Items found</p>
    <ul class="movie-list" data-controller="imdb-id">
      <% movies.each do |movie| %>
        <%# data-imdb-id - custom data set. Invisible for user %>
        <li class ="mb-2" data-action="click->imdb-id#imdbinfo" data-imdb-id="<%= movie.imdb_id %>" >
          <b><%= movie.title %></b> (<%= movie.year %>) - <%= movie.imdb_rating %> <br>
          <%= movie.genre %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No movies found.</p>
  <% end %>
</div>
