<!DOCTYPE html>
<html>
  <head>
    <title>SreeSpace - Random Stuff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" href="favicon.ico" />
    <%= favicon_link_tag ('favicon.ico') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container mt-3">
      <%= yield %>
    </div>
    <%= render "shared/flashes" %>
  </body>
</html>
